.disconnected-job-modal {
    .modal-header {
        display: none;
    }

    .modal-body {
        text-align: center;

        .icon {
            font-size: 50px;
            margin-bottom: 25px;
        }

        .text-content {
            white-space: pre-line;
            font-size: 20px;
            margin-bottom: 25px;
        }
    }

    .modal-footer {
        display: none;
    }
}