{
  "presets": [ 
    [
      "next/babel",
      {
        "class-properties": {
          "loose": false
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": false }],
    ["@babel/plugin-proposal-private-methods", { "loose": false }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@server": "./src/server",
        "@client": "./src/client"
      }
    }]
  ]
}